
.spinnerContainer {
    height: 100%;
}

.loadingSpinner {
    width: 50px;
    height: 50px;
    border: solid 6px var(--bg-light);
    border-top: solid 6px var(--accent-gold);
    border-radius: 50%; /* Using 50% for a perfect circle */
    
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
    /* Order: Spin first, Grow second */
    animation-name: spin, grow;
    
    /* Order: linear applies to spin, ease-in-out applies to grow */
    animation-timing-function: linear, ease-in-out;
}

.loadingSpinner:hover {
    animation-play-state: paused;
}

@keyframes grow {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

@keyframes spin {

    0% {
        transform: rotate(0deg);

    }

    50% {
    }

    100% {
        transform: rotate(360deg);
    }

}