main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50dvh; */
    gap: 2rem;
    flex: 1;
}

.cardContainer {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    width: 90%;
    gap: 2rem;
}